* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header ul {
  list-style-type: none;
}
.header ul {
  display: flex;
  gap: 35px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #a888b5;
}
.header a {
  color: #fff;
}
.nav-bar {
  display: flex;
  flex-grow: 1;
}
.header .logo {
  display: flex;
  flex-grow: 5;
  padding: 0 50px;
  font-size: 20px;
}
.categories-main {
  padding: 50px 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #f3f1f7;
}
.categories {
  margin: 10px;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
  font-size: 18px;
  color: #687fe5;
  height: 300px;
}
@media screen and (max-width: 895px) {
  .categories-list {
    height: fit-content;
  }
}
.categories-list a {
  color: black;
}
.categories-details h2 {
  text-align: center;

  padding: 30px;
  font-size: 30px;
  color: #8174a0;
}
.categorie-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}
.categorie-products .product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #f6f7fb;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.categorie-products img {
  width: 100%;
  height: 300px;
  background-color: #f3f1f7;
}
.categorie-products h3 {
  font-weight: 300;
  color: #8174a0;
}
.categorie-products span {
  font-weight: 700;
  color: #8174a0;
}
.categories-details {
  background-color: #fffbfb;
}
.product a {
  background-color: #b7b1f2;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-left: 5px;
  width: 140px;
  font-size: 16px;
}
.product a:hover {
  background-color: #e8c5e5;
}
.product-details {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: 500px;
}
.product-details img {
  width: 100%;
  height: 100%;
  background-color: #f3f1f7;
}
.product-details .img {
  width: 45%;
}
.product-details .details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}
.stars {
  fill: rgb(255, 203, 32);
}
.product-details h2 {
  color: #8174a0;
}
.product-details h3,
p {
  color: #585656;
}
.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-modal .img {
  background-color: #f3f1f7;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 50px;
}
.my-modal img {
  width: 400px;
  user-select: none;
}
.close-btn,
.left-btn,
.right-btn {
  position: absolute;
  cursor: pointer;
}
.close-btn {
  top: 15px;
  right: 15px;
  font-size: 24px;
}
.left-btn {
  font-size: 24px;
  top: 50%;
  left: 16px;
}
.right-btn {
  font-size: 24px;
  top: 50%;
  right: 16px;
}
.d-none {
  display: none;
}
